<div class="header bg-gradient-yellow pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-12 col-lg-12">
          <h2 class="component-description">Usuarios registrados.</h2>
        </div>  
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Usuarios</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Usuario</th>
                <th scope="col">Correo electrónico</th>
                <th scope="col">Tipo de usuario</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody *ngIf="usuarios?.length > 0; else elseBlock">
              <tr *ngFor="let usuario of usuarios; let i = index">
                <th scope="row">
                  {{ usuario.id }}
                </th>
                <th scope="row">
                  {{ usuario.name }}
                </th>
                <td scope="row">
                  {{ usuario.last_name }}
                </td>
                <td scope="row">
                  {{ usuario.username }}
                </td>
                <td scope="row">
                  {{ usuario.email }}
                </td>
                <td scope="row">
                  {{ usuario.role }}
                </td>
                <th>
                  <a (click)="new( 'edit', i )" class="btn btn-link text-primary">Editar</a>
                </th>
              </tr>
            </tbody>
            <ng-template #elseBlock>
              <tbody>
                <tr>
                  <td colspan="7">
                    Sin datos encontrados
                  </td>
                </tr>
              </tbody>
            </ng-template>
          </table>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary my-4" (click)="new('save')">Agregar Nuevo</button>
        </div>
      </div>
    </div>
  </div>
</div>
  