<div class="header bg-gradient-yellow pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-12 col-lg-12">
            <h2 class="component-description">Registro de clientes que han visitado Pekeñingos.</h2>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Código</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellidos</th>
                  <th scope="col">Cumpleaños</th>
                  <th scope="col">Correo electrónico</th>
                  <th scope="col">Teléfono</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody *ngIf="clientes?.length > 0; else elseBlock">
                <tr *ngFor="let cliente of clientes | paginate: { itemsPerPage: 10, currentPage: pages}; let i = index">
                  <th scope="row">
                    {{ cliente.id }}
                  </th>
                  <th scope="row">
                    {{ cliente.name }}
                  </th>
                  <td scope="row">
                    {{ cliente.last_name }}
                  </td>
                  <td scope="row">
                    {{ cliente.birthday }}
                  </td>
                  <td scope="row">
                    {{ cliente.email }}
                  </td>
                  <td scope="row">
                    {{ cliente.phone_number }}
                  </td>
                  <th>
                    <a class="btn btn-link text-primary"><i class="fas fa-trash-alt fa-2x text-danger"></i></a>
                  </th>
                </tr>
              </tbody>
              <ng-template #elseBlock>
                <tbody>
                  <tr>
                    <td colspan="8">
                      Sin datos encontrados
                    </td>
                  </tr>
                </tbody>
              </ng-template>
            </table>
          </div>
          <div class="card-footer float-right">
            <pagination-controls previousLabel="" nextLabel="" class="pagination justify-content-end mb-0 pekes-paginacion" (pageChange)="pages = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
  