<!-- Page content -->
<div class="container py-7 py-lg-8">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="pb-5 pl-6 pr-6">
            <img
              class="img-fluid"
              src="../../../assets/img/brand/logo-pekeningos.png"
              alt="Logotipo de pequeñingos"
            />
          </div>
          <div class="text-center text-muted mb-4">
            <small
              >¡Ya casi terminamos! Ingresa los siguientes datos para poderte
              dar un mejor servicio.</small
            >
          </div>
          <form [formGroup]="clientForm" (ngSubmit)="save()" role="form">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-email-83"></i
                  ></span>
                </div>
                <input
                  formControlName="email"
                  class="form-control"
                  placeholder="Email"
                  type="email"
                  disabled
                />
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-circle-08"></i
                  ></span>
                </div>
                <input
                  formControlName="name"
                  class="form-control"
                  placeholder="Nombre"
                  type="text"
                />
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-circle-08"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Apellidos"
                  type="text"
                  formControlName="last_name"
                />
              </div>
            </div>
            <label for="" class="align-content-center">Cumpleaños</label>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="ni ni-calendar-grid-58"></i
                      ></span>
                    </div>
                    <input
                      formControlName="birthday"
                      class="form-control"
                      placeholder="Cumpleaños : 1991-12-25"
                      type="text"
                      [dropSpecialCharacters]="false"
                      mask="0000-00-00"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-mobile-button"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Teléfono/Celular"
                  type="text"
                  formControlName="phone_number"
                />
              </div>
            </div>

            <div class="text-center">
              <button
                type="submit"
                class="btn btn-primary my-4"
                value="{{ boton }}"
              >
                Ver resumen
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
