<form #categoriaForm="ngForm" (ngSubmit)="saveEdit(categoriaForm)">
  <div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group mb-3">
      <div class="form-group">
        <label class="form-control-label" for="nombre"
          >Descripción de la categoría</label
        >
        <input
          class="form-control"
          placeholder="Descripción"
          type="text"
          name="nombre"
          required
          #nombre="ngModel"
          [(ngModel)]="categoriaProducto.nombre"
        />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="activeModal.close('Close click')"
    >
      Cerrar
    </button>
    <input
      type="submit"
      class="btn btn-primary"
      value="{{ boton }}"
      [disabled]="categoriaForm.invalid"
    />
  </div>
</form>
