<div class="header bg-gradient-yellow pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-12 col-lg-12">
          <h2 class="component-description">Productos que están a la venta.</h2>
        </div>  
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Productos</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Descripción  Corta</th>
                <th scope="col">Inventario</th>
                <th scope="col">Costo</th>
                <th scope="col">Precio de Venta</th>
                <th scope="col">Categoria</th>
                <th scope="col">Estatus</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody *ngIf="productos?.length > 0; else elseBlock">
              <tr *ngFor="let producto of productos; let i = index">
                <th scope="row">
                  {{ producto.id }}
                </th>
                <th scope="row">
                  {{ producto.descripcion_corta }}
                </th>
                <td scope="row">
                  {{ producto.inventario }}
                </td>
                <td scope="row">
                  ${{ producto.costo }}
                </td>
                <td scope="row">
                  {{ producto.precio_venta }}
                </td>
                <td scope="row">
                  {{ producto.categoria.nombre }}
                </td>
                <td scope="row">
                  {{ producto.estatus.nombre }}
                </td>
                <th>
                  <a (click)="new( 'edit', i )" class="btn btn-link text-primary">Editar</a>
                  <a (click)="delete( i )" class="btn btn-link text-primary">Borrar</a>
                </th>
              </tr>
            </tbody>
            <ng-template #elseBlock>
              <tbody>
                <tr>
                  <td colspan="8">
                    Sin datos encontrados
                  </td>
                </tr>
              </tbody>
            </ng-template>
          </table>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary my-4" (click)="new('save')">Agregar Nuevo</button>
        </div>
      </div>
    </div>
  </div>
</div>
  