<!-- Page content -->
<div class="container py-7 py-lg-8">
  <div class="row justify-content-center align-content-center">
    <div class="col-md-12">
      <img
        class="img-fluid rounded mx-auto d-block pb-5 img-pres"
        src="../../../assets/img/brand/logo-pekeningos.png"
        alt="Logotipo de pequeñingos"
      />
    </div>
  </div>
  <div class="text-center text-white mb-5">
    <h2 class="text-white">Bienvenido. ¿Cuántos boletos deseas adquirir?</h2>
  </div>
  <div class="row justify-content-center pb-3">
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" *ngFor="let boleto of boletos; let i = index">
      <header>
        <section class="hero-header-text">
            <h1 class="headers-boletos-descripcion">{{ boleto.descripcion }}</h1>
            <h2 class="headers-boletos-precio"> ${{ boleto.precio_venta }}</h2>
            <div class="row">
              <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                
              </div>
              <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8" *ngIf="boleto.cantidad; else elseBlock">
                <ngx-number-spinner class="spinner-style" [min]="0" [max]="20" (change)="change(i,$event)" [value]="boleto.cantidad"></ngx-number-spinner>  
              </div>
              <ng-template #elseBlock>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                  <ngx-number-spinner class="spinner-style" [min]="0" [max]="20" (change)="change(i,$event)"></ngx-number-spinner>  
                </div>
              </ng-template>
              <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                
              </div>
              
            </div>
        </section>
      </header>
      <!--<div class="card bg-secondary shadow border-0">
        <img
          class="card-img-top"
          src="../../../assets/img/modulo1-clientes/dummy-boletos.jpg"
          alt="{{ boleto.descripcion }}"
        />
        <div class="card-body shadow px-lg-5 py-lg-5">
          <p class="card-text">
            {{ boleto.descripcion }}
            <br />
            $ {{ boleto.precio_venta}}
          </p>
        </div>
      </div>-->
      <!--<div class="row pt-4 justify-content-center">
        <div class="col-md-4">
          <button type="button" class="btn btn-text text-white font-weight-600" (click)="minus()">
            <i class="fa fa-minus"></i>
          </button>
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control" [value]="cantidad" />
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-text text-white font-weight-600" (click)="plus()">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>-->
    </div>
  </div>
  <div class="row center-content">
    <div class="col-md-12 text-center">
      <button type="button" class="btn btn-danger my-4 btn-block" (click)="verificar()">Comprar</button>
    </div>
  </div>
