<form #productoForm="ngForm" (ngSubmit)="saveEdit(productoForm)">
    <div class="modal-header">
        <h4 class="modal-title">{{ title }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <div class="form-group">
                        <label class="form-control-label" for="descripcion_corta">Descripción corta</label>
                        <input class="form-control form-control-alternative" placeholder="Descripción corta" type="text" name="descripcion_corta" required #descripcion_corta="ngModel" [(ngModel)]="producto.descripcion_corta">
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="form-group">
                        <label class="form-control-label" for="inventario">Inventario</label>
                        <input class="form-control form-control-alternative" placeholder="Inventario" type="text" name="inventario" required #inventario="ngModel" [(ngModel)]="producto.inventario">
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="form-group">
                        <label class="form-control-label" for="cosoto">Costo</label>
                        <input class="form-control form-control-alternative" placeholder="Costo" type="text" name="costo" required #costo="ngModel" [(ngModel)]="producto.costo">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <div class="form-group">
                        <label class="form-control-label" for="precio_venta">Precio de venta</label>
                        <input class="form-control form-control-alternative" placeholder="Precio de Venta" type="text" name="precio_venta" required #precio_venta="ngModel" [(ngModel)]="producto.precio_venta">
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="form-group">
                        <label class="form-control-label" for="estatus">Estatus del producto</label>
                        <select class="form-control form-control-alternative" name="estatus" required [(ngModel)]="producto.estatus.id" [value]="producto.estatus.id">
                            <option value="">Selecciona el estatus del producto...</option>
                            <option *ngFor="let estatusP of estatusProductos" [value]="estatusP.id">
                               {{ estatusP.nombre }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="form-group">
                        <label class="form-control-label" for="categoria">Categoría del producto</label>
                        <select class="form-control form-control-alternative" name="categoria" required [(ngModel)]="producto.categoria.id" [value]="producto.categoria.id">
                            <option value="">Selecciona la categoría del producto...</option>
                            <option *ngFor="let categoriaP of categoriasProductos" [value]="categoriaP.id">
                                {{ categoriaP.nombre }}
                            </option>
                        </select>
                    </div>
                </div>        
            </div>
        </div>
        
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="activeModal.close('Click button')">Cerrar</button>
        <input type="submit" class="btn btn-primary" value="{{ boton }}" [disabled]="productoForm.invalid" />
    </div>
</form>
