<div class="header bg-gradient-yellow pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-12 col-lg-12">
          <h2 class="component-description">
            Variedad de paquetes y boletos disponibles a la venta.
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Boletos</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio de Venta</th>
                <th scope="col">Publicado</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let boleto of boletos; let i = index">
                <th scope="row" class="text-center">
                  {{ boleto.id }}
                </th>
                <th scope="row">
                  {{ boleto.descripcion }}
                </th>
                <td scope="row" class="text-center">
                  ${{ boleto.precio_venta }}
                </td>
                <td scope="row">
                  <label class="custom-toggle">
                    <input
                      type="checkbox"
                      name="publicado"
                      [ngModel]="boleto.publicado"
                      disabled
                    />
                    <span class="custom-toggle-slider rounded-circle"></span>
                  </label>
                  <span class="clearfix"></span>
                </td>
                <td scope="row">
                  <a
                    (click)="edit(i)"
                    class="btn btn-link"
                    data-toggle="modal"
                    data-target="#nuevoBoleto"
                    >Editar</a
                  >
                  <a (click)="delete(boleto.id)" class="btn btn-link"
                    >Eliminar</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <button
            class="btn btn-primary my-4"
            role="button"
            data-toggle="modal"
            data-target="#nuevoBoleto"
          >
            Agregar Nuevo
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="nuevoBoleto"
    tabindex="-1"
    role="dialog"
    aria-labelledby="nuevoBoleto"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form #boletoForm="ngForm" (ngSubmit)="save(boletoForm)">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nuevo Boleto</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group mb-3">
              <div class="form-group">
                <label class="form-control-label" for="nombre"
                  >Descripción del boleto</label
                >
                <input
                  class="form-control form-control-alternative"
                  placeholder="Descripción"
                  type="text"
                  name="descripcion"
                  required
                  #descripcion="ngModel"
                  [(ngModel)]="boleto.descripcion"
                />
              </div>
            </div>
            <div class="form-group mb-3">
              <div class="form-group">
                <label class="form-control-label" for="nombre"
                  >Precio de venta</label
                >
                <input
                  class="form-control form-control-alternative"
                  placeholder="Precio"
                  type="text"
                  name="precio_venta"
                  required
                  #precio_venta="ngModel"
                  [(ngModel)]="boleto.precio_venta"
                />
              </div>
            </div>
            <div class="form-group mb-3">
              <div class="form-group">
                <label class="custom-toggle">
                  <input
                    type="checkbox"
                    name="publicado"
                    [(ngModel)]="boleto.publicado"
                    #publicado="ngModel"
                  />
                  <span class="custom-toggle-slider rounded-circle"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              Cerrar
            </button>
            <div class="text-center">
              <input
                type="submit"
                class="btn btn-primary"
                value="{{ boleto.button }}"
                [disabled]="boletoForm.invalid"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
