<div class="header bg-gradient-yellow pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-12 col-lg-12">
          <h2 class="component-description">
            Variedad de paquetes y boletos disponibles a la venta.
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-footer">
          <button class="btn btn-success my-4 btn-block" (click)="new('save')"><i class="fas fa-folder-plus fa-2x fa-align-center"></i>  Agregar boleto</button>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio de Venta</th>
                <th scope="col">Publicado</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let boleto of boletos; let i = index">
                <th scope="row" class="text-center">
                  {{ boleto.id }}
                </th>
                <th scope="row">
                  {{ boleto.descripcion }}
                </th>
                <td scope="row" class="text-center">
                  ${{ boleto.precio_venta }}
                </td>
                <td scope="row">
                  <label class="custom-toggle">
                    <input
                      type="checkbox"
                      name="publicado"
                      [ngModel]="boleto.publicado"
                      disabled
                    />
                    <span class="custom-toggle-slider rounded-circle"></span>
                  </label>
                  <span class="clearfix"></span>
                </td>
                <td scope="row">
                  <a (click)="new( 'edit', i )" class="btn btn-link text-primary"><i class="fas fa-marker fa-2x text-yellow"></i></a>
                  <a (click)="delete(boleto.id)" class="btn btn-link"
                    ><i class="fas fa-trash-alt fa-2x text-danger"></i></a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </div>
    </div>
  </div>
